<div class="row justify-content-center">
    <div class="invoice-table">
        <table class="table table-hover w-100">
            <thead class="thead-light">
                <tr>
                    <th>No.</th>
                    <th>Invoice Date</th>
                    <th>SubTotal</th>
                    <th>Tax</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invoice of invoices; let i=index;" [routerLink]="['/invoices', invoice.id]">
                    <td>{{i+1}}</td>
                    <td>{{invoice.invoiceDate | date:'short'}}</td>
                    <td>{{invoice.subTotal}}</td>
                    <td>{{invoice.tax}}</td>
                    <td>{{invoice.total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
